* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

#escena {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* CIELO */
#cielo {
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: transform 0.3s ease;
}

/* ESTRELLAS */
#estrellas {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

/* PASTO */
#pasto {
  position: absolute;
  bottom: 0;
  width: 110%;
  height: 45%;
  left: -5%;
  z-index: 3;
  transition: transform 0.3s ease;
}

/* PERRITO */
#perrito {
  position: absolute;
  bottom: 12%;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  z-index: 4;
  cursor: pointer;
  transition: transform 0.4s ease;
}
