body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#escena {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Capa cielo */
#cielo {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* Estrellas */
#estrellas {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

/* Pasto y tulipanes */
#pasto {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  z-index: 3;
}

/* Perrito */
#perrito {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 4;
  transition: transform 0.3s ease;
}
